/*Header*/
.boardHeaderDiv {
    width: 100%;
    height: 400px;
    position: absolute;
    left: 0;
    top: 100px;
    overflow: hidden;
    padding: 150px 0;
}
.boardHeaderTitle {
    font-weight: bold;
    font-size: 70px;
    width: 180px;
    margin: auto auto;
}
.boardHeaderSubTitle {
    font-size: 20px;
    font-weight: bold;
}

/*Contents*/
.boardContentsDiv {
    margin: 50px auto;
}
.boardContentTitle {
    color: rgb(151, 151, 151);
    width: 200px;
    margin: 0 auto;
    padding: 10px 0;
    border-bottom: 2px solid rgb(130, 130, 130);
    font-weight: bold;
    font-size: 27px;
}
.boardContentComment {
    color: rgb(180, 180, 180);
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 50px;
}
.newPostButtonDiv {
    text-align: right;
}
.newPostButton {
    color: rgb(143, 148, 46);
    background-color: transparent;
    background-image: none;
    border-color: rgb(143, 148, 46);
    border-radius: 10px;
    font-size: 20px;
    width: 150px;
    padding: 5px 25px;
    margin: 10px 75px;
    font-weight: bold;
}
.newPostButton:hover {
    cursor: pointer;
    transition: 0.5s;
    color: white;
    transition-property: background-color;
    background-color: rgb(192, 200, 98);
}

/*Table Layout*/
.postNo {
    width: 100px;
}
.postTitle {
    width: 750px;
}
.postTitle:hover {
    cursor: pointer;
    text-decoration: underline;
}
.postAuthor {
    width: 150px;
}
.postDate {
    width: 200px;
}
