/*Header*/
.boardEditorHeaderDiv {
    width: 100%;
    height: 400px;
    position: absolute;
    left: 0;
    top: 100px;
    overflow: hidden;
    padding: 150px 0;
}
.boardEditorHeaderTitle {
    font-weight: bold;
    font-size: 70px;
    width: 180px;
    margin: auto auto;
}
.boardEditorHeaderSubTitle {
    font-size: 20px;
    font-weight: bold;
}

/*Contents*/
.boardEditorContentsDiv {
    margin: 50px auto;
    text-align: center;
}

/*Contents - Title*/
.newBoardTitleDiv {
    margin: 20px;
}
.boardTitleTable {
    width: 1200px;
    margin: 0 auto;
}
.boardTitleTag {
    width: 100px;
    color: black;
    font-size: 18px;
    border-right: 2px solid rgb(143, 148, 46);
}
#boardTitleInput {
    width: 1000px;
    border: none;
    font-size: 17px;
}

/*Contents - Editor*/
.boardEditor {
    width: 1200px;
    margin: 0 auto;
}

/*Contents - Button*/
.addPostButton {
    border-radius: 10px;
    padding: 10px 70px;
    margin: 30px auto;
    background-color: rgb(143, 148, 46);
    font-weight: bold;
    font-size: 25px;
    color: white;
    width: 220px;
}
.addPostButton:hover {
    cursor: pointer;
    transition: 0.5s;
    color: rgb(143, 148, 46);
    transition-property: background-color;
    background-color: white;
}


