@import url('https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sunflower:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100&display=swap');

/*Common*/
html, body {
    background-color: white;
}
* {
    box-sizing: border-box;
}
.contents {
    padding: 0 10%;
}
.horizontal {
    display: inline-block;
}
.vertical {
    display: block;
}
.centerAlignment {
    text-align: center;
}
.fullWidth {
    width: 100%;
}
ul {
    padding: 0;
    margin: 0;
}
hr {
    margin: 0 175px;
}
.clouds {
    fill: #fff;
    stroke: #fff;
    overflow: hidden;
    margin-top: 450px;
}

/*Table Style*/
.table {
    border-collapse: collapse;
    border-top: 2px solid rgb(143, 148, 46);
    border-bottom: 2px solid rgb(143, 148, 46);
    margin: 50px auto;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    color: rgb(120, 120, 120);;
}
.table > thead {
    border-bottom: 2px solid rgb(143, 148, 46);
}
.table > tbody > * {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    color: rgb(120, 120, 120);;
}
.table > tbody > tr {
    border-bottom: 1px solid rgb(180, 180, 180);
    border-collapse: collapse;
}
.table > tbody > tr > td {
    padding: 7px 0;
}
.noticeNo {
    width: 100px;
}
.noticeTitle {
    width: 750px;
}
.noticeTitle:hover {
    cursor: pointer;
    text-decoration: underline;
}
.noticeAuthor {
    width: 150px;
}
.noticeDate {
    width: 200px;
}

/*Fonts*/
/*ko*/
.notoSansFont {
    font-family: 'Noto Sans KR', sans-serif;
}
.sunflowerFont {
    font-family: 'Sunflower', sans-serif;
}
.dohyeonFont {
    font-family: 'Do Hyeon', sans-serif;
}
/*en*/
.robotoFont {
    font-family: 'Roboto Condensed', sans-serif;
}