.eduHeaderDiv {
    width: 100%;
    height: 400px;
    position: absolute;
    left: 0;
    top: 100px;
    overflow: hidden;
    padding: 150px 0;
}
.eduHeaderTitle {
    font-weight: bold;
    font-size: 70px;
    width: 280px;
    margin: auto auto;
}
.eduHeaderSubTitle {
    font-size: 20px;
    font-weight: bold;
}
.newEduButtonDiv {
    text-align: right;
}
.newEduButton {
    color: rgb(143, 148, 46);
    background-color: transparent;
    background-image: none;
    border-color: rgb(143, 148, 46);
    border-radius: 10px;
    font-size: 20px;
    width: 150px;
    padding: 5px 25px;
    margin: 10px 0;
    font-weight: bold;
}
.newEduButton:hover {
    cursor: pointer;
    transition: 0.5s;
    color: white;
    transition-property: background-color;
    background-color: rgb(192, 200, 98);
}
.eduContentsDiv {
    margin: 50px auto 0 auto;
    text-align: center;
}
.eduContentTitle {
    color: rgb(151, 151, 151);
    width: 200px;
    margin: 0 auto;
    padding: 10px 0;
    border-bottom: 2px solid rgb(130, 130, 130);
    font-weight: bold;
    font-size: 27px;
}
.eduContentComment {
    color: rgb(180, 180, 180);
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}

/*Table Layout*/
.eduNo {
    width: 100px;
}
.eduTitle {
    width: 750px;
}
.eduTitle:hover {
    cursor: pointer;
    text-decoration: underline;
}
.eduAuthor {
    width: 150px;
}
.eduState {
    width: 150px;
}
.eduDate {
    width: 200px;
}
