/*Header*/
.equipmentHeaderDiv {
    width: 100%;
    height: 400px;
    position: absolute;
    left: 0;
    top: 100px;
    overflow: hidden;
    padding: 150px 0;
}
.equipmentHeaderTitle {
    font-weight: bold;
    font-size: 70px;
    width: 300px;
    margin: auto auto;
}
.equipmentHeaderSubTitle {
    font-size: 20px;
    font-weight: bold;
}

/*Contents*/
.equipmentContentsDiv {
    margin: 50px auto;
}
.equipmentContentTitle {
    color: rgb(151, 151, 151);
    width: 200px;
    margin: 0 auto;
    padding: 10px 0;
    border-bottom: 2px solid rgb(130, 130, 130);
    font-weight: bold;
    font-size: 27px;
}
.equipmentContentComment {
    color: rgb(180, 180, 180);
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 50px;
}
.borrowButtonDiv {
    text-align: right;
}
.borrowButton {
    color: rgb(143, 148, 46);
    background-color: transparent;
    background-image: none;
    border-color: rgb(143, 148, 46);
    border-radius: 10px;
    font-size: 20px;
    width: 150px;
    padding: 5px 25px;
    margin: 10px 30px;
    font-weight: bold;
}
.borrowButton:hover {
    cursor: pointer;
    transition: 0.5s;
    color: white;
    transition-property: background-color;
    background-color: rgb(192, 200, 98);
}

/*Table Layout*/
.equipmentNo {
    width: 100px;
}
.equipmentTitle {
    width: 400px;
}
.equipmentAuthor {
    width: 150px;
}
.equipmentAuthor {
    width: 200px;
}
.equipmentDate {
    width: 200px;
}
.equipmentDate {
    width: 200px;
}