/*Header*/
.boardEditorHeaderDiv {
    width: 100%;
    height: 400px;
    position: absolute;
    left: 0;
    top: 100px;
    overflow: hidden;
    padding: 150px 0;
}
.boardEditorHeaderTitle {
    font-weight: bold;
    font-size: 70px;
    width: 180px;
    margin: auto auto;
}
.boardEditorHeaderSubTitle {
    font-size: 20px;
    font-weight: bold;
}

/*Contents*/
.examEditorContentsDiv {
    margin: 50px auto;
    text-align: center;
}

/*Contents - Title*/
.examMetaDataDiv {
    margin: 20px;
}
.examMetaDataTable {
    width: 1200px;
    margin: 0 auto;
    /*padding: 20px 0;*/
    border-collapse: collapse;
    border-top: 2px solid rgb(143, 148, 46);
    border-bottom: 2px solid rgb(143, 148, 46);
    text-align: left;
}
.examMetaDataTr > td {
    border-bottom: 1px solid rgb(143, 148, 46);
    /*padding: 1px 0px;*/
    /*padding-bottom: 10px;*/
}
.labelTd {
    width: 140px;
}
.examMetaDataTag {
    width: 120px;
    color: black;
    font-size: 18px;
    border-right: 2px solid rgb(143, 148, 46);
    text-align: center;
}
.examOptions {
    outline: none;
}
.selector {
    border: none;
    font-size: 17px;
    outline: none;
    height: 30px;
}
#subjectSelector {
    width: 400px;
}
#professorSelector {
    width: 200px;
}
.gradeCheckboxDiv {
    display: inline-block;
    margin: 0 10px;
}
.gradeCheckboxDiv input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

.gradeLabel {
    font-size: 17px;
    color: black;
    cursor: pointer;
}

/*File*/
.fileBox {
    text-align: left;
    margin: 10px 250px;
}
.fileLabel {
    font-size: 17px;
    color: black;
    display: inline-block;
    width: 110px;
}
.fileInput {
    display: inline-block;
}
.fileInput label {
    display: inline-block;
    padding: 4px 15px;
    color: dimgrey;
    font-size: inherit;
    font-weight: 600;
    line-height: normal;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid dimgrey;
    border-radius: .25em;
    font-size: 17px;
    margin: 0 5px;
}
.fileInput label:hover {
    border: 1px solid rgb(143, 148, 46);
    color: rgb(143, 168, 60);
}
.fileInput label:active {
    background-color: rgb(192, 200, 98);
    color: white;
}
.fileInput input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
/*File - File List*/
.fileList {
    width: 1075px;
    border: 1px solid #ccc;
    border-collapse: collapse;
    color: dimgrey;
    margin-top: 10px;
    margin-left: 95px;
    display: none;
}
.fileList > thead{
    font-size: 14px;
    text-align: center;
}
.fileList > thead > tr > td {
    border-bottom: 1px solid #ccc;
    background-color: #fbfbfb;
}
.fileName {
    width: 1000px;
}
.fileSize {
    width: 120px;
}
.fileList > tbody {
    font-size: 13px;
    text-align: center;
    color: black;
}

/*Contents - Editor*/
.examEditor {
    width: 1200px;
    margin: 0 auto;
    text-align: left;
}

/*Contents - Button*/
.addPostButton {
    border-radius: 10px;
    padding: 10px 70px;
    margin: 30px auto;
    background-color: rgb(143, 148, 46);
    font-weight: bold;
    font-size: 25px;
    color: white;
    width: 220px;
}
.addPostButton:hover {
    cursor: pointer;
    transition: 0.5s;
    color: rgb(143, 148, 46);
    transition-property: background-color;
    background-color: white;
}


