/*Header*/
.examHeaderDiv {
    width: 100%;
    height: 400px;
    position: absolute;
    left: 0;
    top: 100px;
    overflow: hidden;
    padding: 150px 0;
}
.examHeaderTitle {
    font-weight: bold;
    font-size: 70px;
    width: 180px;
    margin: auto auto;
}
.examHeaderSubTitle {
    font-size: 20px;
    font-weight: bold;
}
.newExamButtonDiv {
    text-align: right;
}

/*Contents*/
.examContentsDiv {
    margin: 50px auto;
    text-align: center;
}
.examContentTitle {
    color: rgb(151, 151, 151);
    width: 200px;
    margin: 50px auto;
    padding: 10px 0;
    border-bottom: 2px solid rgb(130, 130, 130);
    font-weight: bold;
    font-size: 27px;
}
.newExamButton {
    border: none;
    color: rgb(143, 148, 46);
    font-size: 17px;
    font-weight: 600;
    margin: 0 100px;
    outline: none;
}
.newExamButton:hover {
    border-bottom: 1px solid rgb(143, 148, 46);
    cursor: pointer;
}
.gradeSelectionDiv {
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
}
.grades {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}
.grade-item {
    position: relative;
    display: block;
    padding: 30px 90px;
    margin: 20px auto;
    line-height: 1.25;
    color: rgb(143, 148, 46);
    background-color: #fff;
    border: 1px solid #dee2e6;
    font-weight: bold;
    font-size: 27px;
    border-radius: 20px;
}
.grade-item:hover   {
    cursor: pointer;
    transition: 0.5s;
    color: white;
    transition-property: background-color;
    background-color: rgb(192, 200, 98);
}

/*Table Layout*/
.examNo {
    width: 100px;
}
.subject {
    width: 750px;
}
.subject:hover {
    cursor: pointer;
    text-decoration: underline;
}
.professor {
    width: 200px;
}
.midOrFinal {
    width: 200px;
}
.examRegisterDate {
    width: 200px;
}

/*ExamList*/
.listFilterBox {
    text-align: left;
    margin: 10px 0;
}
.filterSelector {
    display: inline-block;
    height: calc(1.5em + .75rem);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none;
    margin: 0 5px;
}
