.joinHeaderDiv {
    width: 100%;
    height: 400px;
    position: absolute;
    left: 0;
    top: 100px;
    overflow: hidden;
    padding: 150px 0;
}
.joinHeaderTitle {
    font-weight: bold;
    font-size: 70px;
    width: 150px;
    margin: auto auto;
}
.joinHeaderSubTitle {
    font-size: 20px;
    font-weight: bold;
}
.joinContentsDiv {
    width: 1200px;
    margin: 50px auto;
}
.contentTitle {
    color: rgb(151, 151, 151);
    width: 200px;
    margin: 0 auto;
    padding: 10px 0;
    border-bottom: 2px solid rgb(130, 130, 130);
    font-weight: bold;
    font-size: 27px;
}
.contentSubtitle {
    color: rgb(151, 151, 151);
    font-size: 20px;
    margin-bottom: 40px;
}
.joinTable {
    margin: 0px auto;
    padding: 40px 80px;
    border-spacing: 20px;
    border: 1px solid rgb(188, 192, 104);
}
.joinTable > tbody > tr > th {
    color: rgb(120, 120, 120);
    font-weight: bold;
    font-size: 23px;
    width: 200px;
    border-right: 2px solid rgb(143, 148, 46);
}
.joinTable > tbody > tr > td {
    width: 200px;
}
.joinTable > tbody > tr > td > input {
    float: left;
    width: 250px;
    margin: 0 20px;
    font-size: 23px;
}
.signUpButton {
    border-radius: 20px;
    padding: 10px 70px;
    margin: 30px auto;
    background-color: rgb(143, 148, 46);
    font-weight: bold;
    font-size: 25px;
    color: white;
}
