/*Header*/
.noticeHeaderDiv {
    width: 100%;
    height: 400px;
    position: absolute;
    left: 0;
    top: 100px;
    overflow: hidden;
    padding: 150px 0;
}
.noticeHeaderTitle {
    font-weight: bold;
    font-size: 70px;
    width: 180px;
    margin: auto auto;
}
.noticeHeaderSubTitle {
    font-size: 20px;
    font-weight: bold;
}

/*Contents*/
.noticeContentsDiv {
    margin: 50px auto;
}
.noticeContentTitle {
    color: rgb(151, 151, 151);
    width: 200px;
    margin: 0 auto 50px auto;
    padding: 10px 0;
    border-bottom: 2px solid rgb(130, 130, 130);
    font-weight: bold;
    font-size: 27px;
}

/*Table Layout*/
.noticeNo {
    width: 100px;
}
.noticeTitle {
    width: 750px;
}
.noticeTitle:hover {
    cursor: pointer;
    text-decoration: underline;
}
.noticeAuthor {
    width: 150px;
}
.noticeDate {
    width: 200px;
}
